@model Oracle.Net.Models.News

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="news-detail">

        <a href="~/news/index" style="float:right;">返回</a>
        <h1><strong>添加资讯</strong></h1>
        <div>
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            序号
                            <input asp-for="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            标题
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            详情
                            <input asp-for="Info" class="form-control" />
                            <span asp-validation-for="Info" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            时间
                            <input asp-for="Time" class="form-control" />
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Fromid" class="form-control" value="@ViewBag.Fromid" type="hidden" />
                            <span asp-validation-for="Fromid" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Fromname" class="form-control" value="@ViewBag.Fromname" type="hidden" />
                            <span asp-validation-for="Fromname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Class" class="form-control" value="@ViewBag.Class" type="hidden" />
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="提交" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
            </div>
</div>
</div>