@model Oracle.Net.Models.User
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "登录系统";
}
<!--首页导航区========================================-->
<div class="container">
    <a class="nav-item" href=""><img src="/img/xsylogo.png" width="200" style="margin-top: 20px" /></a>
    <div class="xsy-login shadow02">
        <br />
        <h1><strong>已退出登录</strong></h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="display: block;height: 50px;line-height: 50px;background: #f13232;border: 1px solid #f13232; border-radius: 5px;text-align: center;">
            <a href="~/auth/login" style="color: #fff;font-size: 20px;">重新登录</a>
           
        </div>
    </div>

</div>
