@{
    ViewData["Title"] = "关于我们";
}
<div class="container">
    <div class="about-us">
        <h1><strong>关于我们</strong></h1>
        <h2>一、大型数据库网络课堂介绍</h2>
        <div>
            <p>大型数据库网络课堂是与大型数据库应用技术课程配合使用的一款线上学习平台。</p>
            <p>在这里你可以学习场景化的知识，可以在线测试学习成果，可以下载课件，还可以与同学和老师互动，共同学习。</p>
        </div>
        <h2>二、网络课堂三大特色</h2>
        <div>
            <p>
                1、本课程体系采用项目场景化教学模式，采用真实项目进行分析，按实际工作场景设计教学案例。<br>
                2、本课程体系将理论知识与实际情景的濡染，与现代最新教学理念结合。<br>
                3、本课程体系将大型数据库的学习与运用相结合，读写练相结合。<br>
            </p>
            <p>本课程体系在课程的教学设计层面进行改造，将课程按实际工作的应用场景划分为相对独立并相互有联系的学习模块，强调既做到“点”，又做到 “面”，让学生得到全方位、系列化、循序渐进的学习过程。将学习内容“碎片化”成学习模块、应用场景，在场景分析、学习过程中，积累实际工作的经验。</p>
        </div>
        <h2>三、课程目标</h2>
        <div>
            <p>大型数据库应用技术，作为计算机科学与技术和软件工程两个专业的专业课之一，旨在提高软件专业学生对于流行的大型数据库Oracle的管理和应用能力，了解大型数据库Oracle的管理机制和相关原理。更重要的是可以掌握对Oracle大型数据库的应用和管理工作，对实际工作中碰到的各种问题，能够举一反三，提高学生的实际工程应用能力，有助于在以后的工作中提高竞争力。</p>
        </div>

        <h2>四、师资介绍</h2>
        <div class="teacher-info-vip">
            <div><img src="img/teacher/no1.jpg" height="200" width="200" alt=""></div>
            <div>
                <p><strong>彭炎</strong>武汉首义学院金牌教师</p>
                <span>语文教培专家  在初中语文领域深耕20年，追寻语文的理性与温度。</span>
            </div>
        </div>
        <div>

            <p>
                1、1998年，他的阅读教学作品《变色龙》，让中国中学语文界记住了他的名字，年轻的他在连夺武汉市、湖北省授课大赛第一名后，又在全国初中语文授课大赛中获得了一等奖的第一名。<br>
                2、1998年，他的阅读教学作品《分马》，与钱梦龙、宁鸿彬等语文大师同台展示，好评如潮！<br>
                3、2000年，他的作文教学作品《说说名字》在武汉市初中语文教学研讨会上，引起强烈反响与讨论，市教科院将《说说名字》课堂实录编入教学参考书。<br>
                4、2003年，他的作文教学作品《过去的时光》录像课收入鄂教版语文教学参考书， 光盘随教参全省发行。<br>
                5、2005年，他被武汉市教科院抽调，命制武汉市中考语文试卷。<br>
            </p>
        </div>
        @*<h2>主要教师风采</h2>
        <div class="teacher-info-detail">
            <div><img src="img/teacher/dkx.jpg" height="200" width="200" alt=""></div>
            <div>
                <p><strong>丁凯旋</strong>硕士研究生</p>
                <span>硕士研究生学历，毕业于华中师范大学心理学专业，曾任校报记者团编辑。屡获多项国家级、校级奖学金。曾在多所中小学担任过代课老师。工作认真，待人热情。本人坚信教育是一种“润物细无声”的滋养。</span>
            </div>
        </div>
        <div class="teacher-info-detail">
            <div><img src="img/teacher/prl.jpg" height="200" width="200" alt=""></div>
            <div>
                <p><strong>潘若兰</strong>硕士研究生</p>
                <span>硕士研究生学历，毕业于华中师范大学现当代文学专业，常年获“一等学业奖学金”。曾在武汉市公立学校担任初中语文老师，获得家长好评。</span>
            </div>
        </div>
        <div class="teacher-info-detail">
            <div><img src="img/teacher/zsw.jpg" height="200" width="200" alt=""></div>
            <div>
                <p><strong>赵苏维</strong>硕士研究生</p>
                <span>硕士研究生学历，毕业于华中师范大学汉语言文字学专业，学习优秀，获“优秀毕业生”荣誉称号。2014年于宜昌市第八初级中学担任班主任及语文教师。曾赴韩国、台湾等地交流学习。</span>
            </div>
        </div>
        <div class="teacher-info-detail">
            <div><img src="img/teacher/lrl.jpg" height="200" width="200" alt=""></div>
            <div>
                <p><strong>刘芮琳</strong>硕士研究生</p>
                <span>硕士研究生学历，毕业于华中师范大学现当代文学专业。在校期间，多次获得国家级、校级奖学金。本人坚信教育不是灌输，而是点染。</span>
            </div>
        </div>
        <div class="teacher-info-detail">
            <div><img src="img/teacher/ln.jpg" height="200" width="200" alt=""></div>
            <div>
                <p><strong>龙女</strong>硕士研究生</p>
                <span>硕士研究生学历，毕业于华中师范大学中文系。研究生期间曾代表学校前往台湾参加台湾师范大学举办的“孔子行脚”支教活动，期间通过接触台湾的学生和教育，对教学有了更新的认识。 工作中严谨踏实，极富责任心</span>
            </div>
        </div>
        <div class="teacher-info-detail">
            <div><img src="img/teacher/fx.jpg" height="200" width="200" alt=""></div>
            <div>
                <p><strong>樊星</strong>湖北第二师范学院中文系</p>
                <span>毕业于湖北第二师范学院中文系，曾任职文化传播中心《新闻实践》主编。荣获“樱雨星空”新闻大赛二等奖，讲课比赛一等奖，发表在各大报刊的稿件数篇，有丰富的课堂教学经验</span>
            </div>
        </div>*@

        <h2>五、教育理念</h2>
        <div>
            <p>在做中学、在学中做</p>
        </div>
    </div>
</div>