
@{
    ViewData["Title"] = "Manage";
}



<div class="mainbox">
    <div class="course-card-zhibo">
        <div class="course-card course-card-4">
            <div>
                <a href="~/Home/Mystudent"><img src="~/img/czsdx/czsdx-24.jpg" alt=""></a>
            </div>
            <div>
                <h2 style="text-align:center;margin-top:30px;font-size:25px;line-height: 50px;">我的学生</h2>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="~/Home/Allscore"><img src="~/img/czsdx/czsdx-24.jpg" alt=""></a>
            </div>
            <div>
                <h2 style="text-align:center;margin-top:30px;font-size:25px;line-height: 50px;">学生成绩</h2>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="~/Testlists/Index"><img src="~/img/czsdx/czsdx-24.jpg" alt=""></a>
            </div>
            <div>
                <h2 style="text-align:center;margin-top:30px;font-size:25px;line-height: 50px;">测试管理</h2>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="~/UpLoads/Index"><img src="~/img/czsdx/czsdx-24.jpg" alt=""></a>
            </div>
            <div>
                <h2 style="text-align:center;margin-top:30px;font-size:25px;line-height: 50px;">下载管理</h2>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="~/News/Index"><img src="~/img/czsdx/czsdx-24.jpg" alt=""></a>
            </div>
            <div>
                <h2 style="text-align:center;margin-top:30px;font-size:25px;line-height: 50px;">资讯管理</h2>
            </div>
        </div>
    </div>
</div>