@{
    ViewData["Title"] = "教学场景";
}

<div class="course-type">
    <div>
        <h1>教学场景</h1>
       
    </div>
    <div class="course-card-zhibo">
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene1"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景一</h2>
                <span>Oracle 11g的安装。</span>
                <!-- <span><a href="">播放</a></span> -->
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene2"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景二</h2>
                <span>启动Oracle 11g数据库。</span>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene3"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景三</h2>
                <span>深入了解Oracle 11g的体系结构。</span>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene4"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景四</h2>
                <span>Oracle 11g的PL/SQL引擎和SQL引擎。</span>
            </div>
        </div>
    </div>


    <div class="course-card-zhibo">
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene5"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景五</h2>
                <span>在数据库中创建用户数据库。</span>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene6"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景六</h2>
                <span>对数据库中的各类对象进行相关权限管理、安全控制。</span>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene7"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景七</h2>
                <span>在数据库中创建存储过程、函数、触发器、程序包。</span>
            </div>
        </div>
        <div class="course-card course-card-4">
            <div>
                <a href="/home/scene8"><img src="~/img/scene.jpg" alt=""></a>
            </div>
            <div class="course-title">
                <h2>场景八</h2>
                <span>数据库中的事务处理及备份与恢复。</span>
            </div>
        </div>
    </div>
</div>
