
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oracle.Net</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>

    <title>登录</title>
</head>
<body>
    @RenderBody()
</body>
</html>