<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oracle.Net</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <link href="~/css/ask.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/reveal.css">
</head> 
<body>
    <!--全站顶部功能区-->
    <div class="topbar-xsy">
        <div class="container">
            <ul class="login">
                <li><a>当前用户：@User.Identity.Name &nbsp&nbsp&nbsp </a></li>
                <li> <a asp-area="" asp-controller="Auth" asp-action="Logout">注销</a></li>
                <li><a href="~/home/manage">管理员入口</a></li>
            </ul>
        </div>
    </div>
    <!--首页导航区========================================-->
    <div class="header-navigation">
        <div class="container">
            <div class="logo">
                <a class="nav-item" href="/home/index"><img src="~/img/xsylogo.png" width="200" /></a>
            </div>
            <div class="nav">
                <ul class="nav-list">
                    <li><a href="/home/index">首页</a></li>
                    <li><a href="/home/teaching">场景教学</a></li>
                    <li><a href="/home/scenetest">在线测评</a></li>
                    <li><a href="/home/download">下载中心</a></li>
                    <li><a class="focus" href="/home/qa">问·答</a></li>
                    <li><a href="/home/about">关于我们</a></li>
                </ul>
                <div class="ask">
                    <!-- <input type="text" value="搜索您感兴趣的问题" /> -->
                    <a href="#" data-reveal-id="myModal">提问</a>
                </div>
            </div>
        </div>
    </div>


    <!--首页主体功能区=====================================-->
    <div class="mainbox">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    @{ Html.RenderPartial("_PartialFooter"); }

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery-1.6.2.js" asp-append-version="true"></script>
        <script src="~/js/jquery.reveal.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/jquery.reveal.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="~/js/jquery.reveal.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
