    <!-- 全站底部信息 =====================================-->
<footer>
    <div class="container footer">
        <p><a href="/Home/About">关于我们</a> | <a href="/Home/Contact">联系我们</a></p>
        <P>Copyright © 2018 大型数据库网络课堂 www.wsyu.edu.cn 版权所有 </P>
    </div>
</footer>